<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"> 
  </head>
    <body>
    {% block body %}
      <div style="padding:20px">
        <h1>From {{ startDate }} to {{ endDate }}</h1>    
        {% if data %}
        <h3>Results for selected values</h3>
        <table class="results" border="1">
          <thead class="thead-inverse">
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
              <tr>
                <td class="date-cell">{{ row.Date }}</td>
                <td class="open-cell">{{ row.Open }}</td>
                <td class="high-cell">{{ row.High }}</td>
                <td class="low-cell">{{ row.Low }}</td>
                <td class="close-cell">{{ row.Close }}</td>
                <td class="volume-cell">{{ row.Volume }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </div>    
    {% endif %}
    {% endblock %}
  </body>
</html>